.top-header {
  position: fixed;
  background-color: White;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.2px;
}
.Menu-Horizontal {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.Menu-Horizontal li {
  display: block;
  color: Blue;
  padding: 15px, 20px;
}
.Menu-Horizontal li a:hover {
  color: Red;
}

.Menu-Horizontal li a {
  text-decoration: none;
}

.Menu-vertical {
  padding: 0;
  position: absolute;
  display: none;
  list-style: none;
  width: 200px;
  background-color: aliceblue;
}

.Menu-Horizontal li:hover .Menu-vertical {
  display: block;
}

.Menu-vertical li {
  color: darkblue;
  padding: 10px 10px 10px 20px;
}

.seccion-inicio {
  padding: 60px 20px;
  background-color: white;
}

.cont-gral-inicio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
}

.cont-ini-texto {
  flex: 1;
}

.cont-ini-texto h2 {
  color: blue;
  margin-bottom: 15px;
}

.cont-ini-texto p {
  color: black;
  line-height: 1.6;
}

.cont-ini-img {
  flex: 1;
  text-align: center;
}

.cont-ini-img img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
}

.seccion-servicios {
  padding: 60px 20px;
  background-color: white;
}

.cont-gral-servicios {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
}

.cont-serv-texto {
  flex: 1;
}

.cont-serv-texto h2 {
  color: blue;
  margin-bottom: 15px;
}

.cont-serv-texto p {
  color: black;
  line-height: 1.6;
}
.cont-serv-video {
  flex: 1;
  text-align: center;
}
.cont-serv-video iframe {
  width: 100%;
  max-width: 500px;
}
